/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

label {
	font-weight: normal !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Asap');

html {
    background-color: #202321 !important;
    height: 100%;
}

body {
    font-family: 'Asap', sans-serif;
    color: #fff;
    background-color: #202321;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Asap', sans-serif !important;
}

button:hover {
    opacity: 0.8;
}

a:hover {
    text-decoration: none !important;
}

input {
	outline: transparent;
	padding-left: 20px !important;
}

/* HEADER */

header {
    height: 120px;
    background: rgb(32,35,33); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(32,35,33,1) 0%, rgba(61,151,44,1) 51%, rgba(32,35,33,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(32,35,33,1) 0%,rgba(61,151,44,1) 51%,rgba(32,35,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(32,35,33,1) 0%,rgba(61,151,44,1) 51%,rgba(32,35,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202321', endColorstr='#202321',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-size: auto, 250px 250px;
}

header div {
    margin-top: 20px;
    line-height: 0;
}

header h1, header i {
    color: #fff !important;
    padding-top: 30px;
    padding-left: 80px;
}

header h1 {
    font-weight: bold;
}

h1 span {
    font-weight: normal;
}

header i {
    font-style: italic;
}

header p, header a {
    color: #fff !important;
    padding-top: 30px;
    padding-right: 30px;
}

/* SETTINGS */ 

.divider{
    height: 36px;
    background-color: #202321;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider.round {
    border-radius: 8px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #20b709;
}

input:focus + .slider {
    box-shadow: 0 0 1px #20b709;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.ab-right{
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px;
}

.set-menu{
    position: relative !important;
}
.set-menu a{
    color: #c8c8c6 !important;
}
.set-menu > a:after{
    color: #20b709;
    font-size: 20px;
    font-weight: bold;
    content: "\f105" !important;
}

.uk-parent{
    border-bottom: 1px solid #c8c8c6;
}

/* LOGIN SCREEN */

.green, .active {
    background-color: #55E034 !important;
    border: 1px solid #55E034 !important;
}

.light-green {
	color: #89E889;
}


.grey {
    background-color: #ddd !important;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.logo img{
    margin-left: 50%;
    margin-top: 20%;
}

.login .uk-form {
    margin-right: 50%;
    margin-top: 30%;
}

#login1 > * {
    margin-top: 15px;
    border-radius: 25px;
}

#login1 {
    position: relative;
}

#login1 a {
    color: #000;
}

#login1 input {
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: 100%;
}

#login1 button {
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 15px;
    margin-top: 20px;
}

#login1:before {
    content: "";
    background-image: url('../images/icons/icon-locker.png');
    position: absolute;
    top: 18px;
    left: 10px;
    height: 20px;
    width: 15px;
    background-size: 100% auto;
}

.uk-button {
    width: 100%;
}

#login1 button:nth-child(5), #login1 button:nth-child(6){
    width: 49%;
}

::-webkit-input-placeholder {
    color: #666 !important;
	padding-left: 10px;
}

:-moz-placeholder { /* Firefox 18- */
    color: #666 !important;
	padding-left: 10px;
}

/* END LOGIN */

.data {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.data h4 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.data-buttons button {
    display: inline;
    margin-top: 50px;
    border-radius: 7px;
    margin-bottom: 50px;
}


.lbl-wallet, .lbl-receive {
    padding: 20px !important;
    border-radius: 30px;
	background-color: white;
	color: black;
	font-size: 18px;
	width: 70%;
	margin: 0 auto;
}

.lbl-receive {
	margin-top: 130px;
}

.data .uk-grid {
    margin-top: 100px;
}

.data .uk-grid > * {
    margin-top: 100px;
    border-radius: 10px;
}

.sent {
    color: #BCB526;
    font-size: 18px;
    line-height: 35px;
}

.available {
    color: #C2C4C2;
    font-size: 20px;
    line-height: 35px;
}

.received {
    color: #358C20;
    font-size: 18px;
    line-height: 35px;
}

.top-buttons {
    margin-right: 20px;
}

.top-buttons button {
    padding: 5px 0 5px 0;
    border-radius: 10px;
}

.top-buttons button:last-child {
    margin-top: 5px;
}

/* MENU */

#menu {
    background-color: #202321;
    height: 735px;
    width: 300px;
    position: absolute;
    top:0;
    left:-301px;
    border-right: 1px solid #fff;
    z-index: 1000;
}

#menu .left img {
    margin-top: 50px;
    margin-left: 25px;
}

#menu h4 {
    margin-top: 55px;
    margin-left: 15px;
    text-align: left;
    color: #fff;
}

.alignleft {
    text-align: left;
}

#adk {
    margin-top: 40px;
    font-size: 20px;
    margin-left: 15px;
}

#id {
    margin-left: 15px;
}

.nav, .logout {
    margin-top: 75px !important;
}

.logout {
    text-align: center;
}

.logout a {
    color: #fff;
}

.nav ul {
    padding-left: 0 !important;
}

.nav li {
    background-color: #dfdfdf;
    height: 60px;
    border: 1px solid #fff;
    text-align: center;
}

.nav li:hover {
    opacity: 0.8;
    cursor: pointer;
}

.nav li p {
    color: #252229;
    position: absolute;
    left: 50%;
    line-height: 35px;
}

.nav li img {
    float: left;
	width: 60px;
}

#half-circle {
    width: 60px;
    height: 120px;
    background-color: #29B709;
    border-bottom-right-radius: 110px;  
    border-top-right-radius: 110px; 
    border-bottom: 0;
    position: absolute;
    top: 0;
    left: 301px;      
}

#half-circle:hover {
    cursor: pointer;
}

#half-circle p {
    margin-top: 40px;
    margin-left: 15px;
    font-weight: bold;
}

#half-circle small {
    font-size: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

#half-circle span {
    font-size: 35px;
}

/* SEND PAGE */

.transaction {
	margin-top: 50px;
}

.transaction label {
	margin-top: 20px;
}

.transaction textarea {
	padding: 0 20px 0 20px !important;
}

.transaction button {
    padding: 5px 0 5px 0;
    border-radius: 10px;
	margin-top: 20px !important;
}

.transaction input {
    padding: 15px 0 15px 0;
    border-radius: 10px;
	border: 1px solid #fff;
}

.transaction input:focus{
    border-color: #55e034;
    box-shadow: 0 0 5px #55e034;
}

/*
.transaction span {
	color: #29B709;
}*/

.description-box {
	border-radius: 10px;
	height:80px;
	padding: 10px 0 0 10px;
}

.transaction textarea:focus{
 	outline: none !important;
    border-color: #55e034;
    box-shadow: 0 0 5px #55e034;
}

.transaction-field {
	text-align: center;
}

.transaction-field form {
	margin-top: 200px;
}

.transaction-field input {
	border-radius: 35px;
	padding: 20px 0 20px 0;
}

.download {
	margin-top: 25px;
	font-size: 18px;
}

.download a {
	color: #fff;
}

.center {
	margin: 0 auto !important;
}

.transaction-nav {
	width: 300px;
    background-color: white;
    margin: 0 auto !important;
	margin-top: 25px !important;
}

.transaction-nav li {
	padding-top: 10px;
	padding-bottom: 10px;
}

.light-green {
	color: #89E889;
}

.icon {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
}

.nav li:hover > .icon-wallet {
	background-image: url('../images/icons/wallet.gif');
}

.nav li:hover > .icon-receive {
	background-image: url('../images/icons/receive.gif');
}

.nav li:hover > .icon-send {
	background-image: url('../images/icons/send.gif');
}

.nav li:hover > .icon-transaction {
	background-image: url('../images/icons/transactions.gif');
}

.nav li:hover > .icon-settings {
	background-image: url('../images/icons/settings.gif');
}

.nav li:hover > .icon-statistics {
	background-image: url('../images/icons/statistics.gif');
}

.icon-wallet {
	background-image: url('../images/icons/wallet.png');
}

.icon-send {
	background-image: url('../images/icons/send.png');
}

.icon-receive {
	background-image: url('../images/icons/receive.png');
}

.icon-transaction {
	background-image: url('../images/icons/transactions.png');
}

.icon-settings {
	background-image: url('../images/icons/settings.png');
}

.icon-statistics {
	background-image: url('../images/icons/statistics.png');
}

.transaction-nav li {
	color: #c8c8c6;
}

.transaction-box {
	margin: 0 auto !important;
	overflow-y: scroll;
	height: 300px;
	width: 500px;
	padding-left: 40px;
	margin-top: -50px !important;
	background-color: #E9EAE8;
}

.single-transaction {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #E9EAE8;
	border-bottom: 1px solid #d3d3d3;
}


.single-transaction p {
	color: #5D5D5D;
	float: left;
	margin-top: 4px;
	margin-left: 40px;
	position: absolute;
    /*line-height: 20px;*/
}

.single-transaction .date {
	font-size: 12px;
	color: #9d9d9d;
}

.main_page,.send_page,.settings_page,.statistics_page,.transaction_page,.wallet_page,.receive_page{
    display:none;
}

.inline {
	display:inline;
}

.transaction-available {
	margin-top:5px;
	color:silver;
	font-size:12px;
}

/* MODAL */

.modal .list li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}

.modal .list .value {
  font-weight: bold;
  margin-right: 0 !important;
}

.modal .list .value span.amount, .modal .list .value span.amount.detailed {
  font-size: 100%;
}

#node-info-modal .list .details, #peers-modal .list .details {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.modal .hash {
  color: #696969;
}

#peers-modal .contents {
  max-height: 450px;
  overflow: none;
  overflow-y: auto;
  padding-right: 5px;
}

.remodal-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.modal a {
  color: #0c4465;
}


/* SCROLLBAR */

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a4a8ab;
}

#app ::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0, 0.3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list .address, .overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  width: 100%;
}

.list .value {
  padding-left: 15px;
  margin-right: 50px;
  text-align: right;
  width: auto;
}

.list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list .details {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}

#generate-address-result {
  word-break: break-all;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#generate-address-qr-code {
  height: 160px;
}

#generate-address-qr-code canvas {
  padding: 5px;
  background: #fff;
}

#generate-address-qr-code{
    margin-left: 50%;
    margin-top: 20%;
}


#login-btn:disabled,#transfer-btn:disabled,#generate-address-btn:disabled,#rebroadcast-btn:disabled,#replay-btn:disabled {
  color: #000;
}

#rebroadcast-btn {
    height:25px;
    padding-top:3px;
    border-radius: 25px;
    background-color: #29B709;
    margin-top: 0px;
    margin-left:350px;
    width:180px;
}

#replay-btn {
    height:25px;
    padding-top:3px;
    border-radius: 25px;
    background-color: #29B709;
    margin-top: 0px;
    width:180px;
}


.btn {
  width: 100%;
  outline: none;
  display: block;
  padding: 40px;
  color: #fff;
  /*text-transform: uppercase;*/
  text-align: center;
  text-decoration: none;
  /*font-size: 24px;*/
  border: none;
  cursor: pointer;
  background: #3b2b70;
}

#generate-address-stack .padded {
  visibility: hidden;
}

#history-stack h4 {
	color: #777;
	font-size: 18px;
}

#history-stack .details {
	text-align: right;
    margin-right: 10px;
    margin-top: 5px;
	color: #29B709;
	font-size: 12px;
}

#history-stack .address{
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  width: 90%;
}

.single-transaction span.receive {
	width: 40px;
	height: 40px;
	background-image: url('../images/icons/receive.png');
	/*background-color: #29B709;*/
	position: absolute;
	left: -5px;
	top: 5px;
      background-size: 100%; /* To fill the dimensions of container (button), or */
}

.single-transaction span.send {
	width: 40px;
	height: 40px;
	background-image: url('../images/icons/send.png');
	/*background-color: #D648F6;*/
	position: absolute;
	left: -5px;
	top: 5px;
  background-size: 100%; /* To fill the dimensions of container (button), or */
  }


.uk-modal-header {
	border-bottom: 1px solid #d3d3d3;
	padding: 5px;
}

.uk-modal-content {
	width: 100%;
    display: inline-flex;
}

.uk-modal-footer {
	display: inline-flex;
	margin-left: 50%;
    padding-bottom: 5px;
}

.uk-modal-footer button {
	border-radius: 5px;
	border: 0;
	padding: 5px 4px 5px 4px;
	margin: 0 5px 0 5px;
	cursor: pointer;
}

.transaction-panel, .transaction-panel-left {
	background-color: #fff;
	border: 1px solid #d3d3d3;
	max-width: 80%;
    margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
}

.transaction-panel:not(:first-child) {
	margin-top: 10px;
}

.transaction-panel-left {
	padding: 24px;
}

.transaction-panel-left:not(:first-child) {
	margin-top: 10px;
}

.transaction-panel-left:after {
	content: '';
	position: absolute;
	right: -35px;
    top: 8px;
    height: 25px;
    width: 25px;
}

.transaction-panel-left:first-child:after{
	background-image: url('../images/arrow-right.png');
}

.transaction-panel a, .transaction-panel-left a{
	float: left;
	margin-left: 10px;
	margin-top: -5px;
}

.transaction-panel span, .transaction-panel-left span {
	float: right;
    margin-right: 10px;
    font-weight: bold;
	margin-top: -5px;
}

#generated-seed-modal h3{
	margin-top: 15px;
}

#generated-seed-modal{
	padding: 15px;
}

#bundle-details {
	color: #8d8d8d;
}

.transaction-window {
	width: 900px !important;
}

.modal-transaction {
	background-color: #f8f8f8;
}

.modal-transaction p {
	text-align: left;
}

.uk-modal-dialog {
	border-radius: 10px;
}

.uk-modal-dialog a {
	outline: 0;
}

#bundle-details h5{
    text-align: center;
}

#bundle-details .uk-modal-footer{
    margin-left:0px;
}

#bundle-details .address{
	margin: 10px 0px 10px 0px;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
}

#bundle-details .uk-modal-header{
	margin-bottom: 10px;
}

#help .uk-modal-header{
    color:black;
}

#help .uk-accordion-content{
    color:black;
}

#help p{
	margin-top: 5px;
}

#help .uk-accordion-title{
    color:black;
}
#help .uk-close{
    color:black;
}
#terms {
    color:black;
}